.best {
    background: url(../../img/best/best.jpg) center center / cover no-repeat;
}

.best__list {
    display: flex;
}

.best__item {
    flex: 1;
    margin-right: 15px;
    text-align: center;

    &:last-child {
        margin-right: 0;
    }
}
.best__icon {
display: inline-block;

}
.best__img {
    margin-bottom: 20px;
}

.best__desc-title {
    font-size: 25px;
    font-family: 'lifehackmedium';
}
.best__desc-content {
    font-size: 15px;
}