.reviews {
    background: #000;
    position: relative;
}

.reviews__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    background: center center / cover no-repeat;
    position: relative;
    filter: grayscale(100%);
    &:hover {
        .reviews__item-hover{
            opacity: 1;
        }  
    }
}

.reviews__item-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .5);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity .3s;
}
// .reviews__avatar {
//     width: 400px;
//     height: 400px;
//     overflow: hidden;
// }
// .reviews_icon {
//     width:400px;
//     height: 100%;
//     object-fit: cover ;
// }